section.question
	.container 
		.question__row 
			.question__info 
				h2.question__title Закажите <strong> доставку </strong> отремонтированной <br> техники на дом
				p.question__subtitle Напишите нам или оставьте <br> онлайн заявку
				.question__social-wrapper 
					a.question__social-link(href="#") 
						img(src="/assets/images/telegram.svg", alt="Telegram" width="50" height="50")
					a.question__social-link(href="#") 
						img(src="/assets/images/instagram.svg", alt="Instagram" width="50" height="50")
					a.question__social-link(href="#") 
						img(src="/assets/images/whatapp.svg", alt="Whatsapp" width="50" height="50")

			.question__form.form-question 
				.form-question__wrapper
					h3.form-question__title Заказать доставку
					form.form-question__wrapper-form(action="#")
						label.form-question__label
							span.visually-hidden Ваше имя
							input.form-question__input-text(type="text" placeholder="Ваше имя")
						label.form-question__label
							span.visually-hidden Ваш номер телефона
							input.form-question__input-text(type="text" placeholder="Ваш номер телефона")
						button.form-question__submit(type="submit") Заказать доставку