section.feed
	.container
		.feed__title-wrapper 
			img.feed__icon(src="assets/images/inst-black.svg", alt="" width="41" height="41")
			h2.feed__title Instagram лента
		a.feed__link(href="#") Перейти в instagram
		.feed__row 
			a(href="#").feed__img-wrapper 
				img(src="assets/images/inst-1.jpg", alt=""  width="175" height="175")
			a(href="#").feed__img-wrapper 
				img(src="assets/images/inst-2.jpg", alt=""  width="175" height="175")
			a(href="#").feed__img-wrapper 
				img(src="assets/images/inst-3.jpg", alt=""  width="175" height="175")
			a(href="#").feed__img-wrapper  
				img(src="assets/images/inst-4.jpg", alt=""  width="175" height="175")
			a(href="#").feed__img-wrapper  
				img(src="assets/images/inst-5.jpg", alt=""  width="175" height="175")
			a(href="#").feed__img-wrapper  
				img(src="assets/images/inst-6.jpg", alt=""  width="175" height="175")