footer.footer
	.container
		.footer__row
			.footer__column
				h2.footer__headline Компания
				ul.footer__list
					il.footer__item
						a(href="#") Для СМИ и партнеров
					il.footer__item
						a(href="#") Конакты сервисов
					il.footer__item
						a(href="#") Реквизиты
					il.footer__item
						a(href="#") О компании
					il.footer__item
						a(href="#") Франшиза
					il.footer__item
						a(href="#") Вакансии
					il.footer__item.footer__item--absolute
						a(href="#") Сеть сервисных центов №1 в России
			.footer__column
				h2.footer__headline Самое популярное
				ul.footer__list
					il.footer__item
						a(href="#") Ремонт iPhone
					il.footer__item
						a(href="#") Ремонт iPad
					il.footer__item
						a(href="#") Ремонт MacBook
					il.footer__item
						a(href="#") Ремонт телефонов
			.footer__column
				h2.footer__headline Контакты

				.footer__contacts-list
					.footer__item.footer__item--two
						p.footer__name Горячая линия
						p.footer__info 8 (800) 100-39-13 - звонок бесплатный
					.footer__item.footer__item--two
						p.footer__name Адрес сервисов
						p.footer__info Показать адреса сервисов
					.footer__item.footer__item--two
						p.footer__name Адрес офиса <br> (не сервис)
						.footer__contacts-info
							p.footer__info.footer__info--mb г. Москва, ул. Орджоникидзе, дом 11 <br> строение 1а, пом. XIII а эт. 2 оф. 6м.
							p.footer__info г. Санкт-Петербург, ул. Профессора <br> Качалова, дом 11, литер А, этаж 7, пом. 20.
					.footer__item.footer__item--two
						p.footer__name График работы <br> офиса
						p.footer__info ПН-СБ: с 10:00 до 19:30

		.footer__desc
			p.footer__desc-text для улучшения качества обслуживания, ваш разговор может быть записан
			p.footer__desc-text * - является зарегистрированным товарным знаком компании Apple Inc. Обозначение используется не с целью <br> индивидуализации соответствующих услуг по ремонту, а с целью информирования потребителей о <br> предоставляемых услугах в отношении техники правообладателя.
			p.footer__desc-text ** - является зарегистрированным товарным знаком: <br> iPhone - компании правообладателя Apple Inc.; <br> Huawei и Honor - компании правообладателя HUAWEI TECHNOLOGIES CO., LTD.; <br> Samsung - компании правообладателя Samsung Electronics Co. Ltd. <br> Указывается не с целью индивидуализации собственных товаров и услуг, а для информирования об <br> оказываемых услугах в отношении товаров Правообладателей. Данные услуги оказываются в неавторизованных <br> сервисных центрах, не связанными с компаниями Правообладателями товарных знаков и/или с ее <br> официальными представителями в отношении товаров, которые уже были введены в гражданский оборот в <br> смысле статьи 1487 ГК РФ.
			p.footer__desc-text *** - время ремонта может меняться в зависимости от модели устройства и сложности проводимых работ

		.footer__row-two
			.footer__social
				p.footer__text Понравился проект?
				a.footer__social-link(href="#")
					img(src="assets/images/social-vk.jpg", alt="Вконтакте")
				a.footer__social-link(href="#")
					img(src="assets/images/social-twitter.jpg", alt="Twitter")
				a.footer__social-link(href="#")
					img(src="assets/images/social-fb.jpg", alt="Facebook")
			.footer__partner
				p.footer__text Наши партнёры
				img.footer__icon-partner(src="assets/images/pay-1.jpg", alt="")
				img.footer__icon-partner(src="assets/images/pay-2.jpg", alt="")
				img.footer__icon-partner(src="assets/images/pay-3.jpg", alt="")
				img.footer__icon-partner(src="assets/images/pay-4.jpg", alt="")
				img.footer__icon-partner(src="assets/images/pay-5.jpg", alt="")
				img.footer__icon-partner(src="assets/images/pay-6.jpg", alt="")

		p.footer__copy © 2010-2020 Pedant.ru - ремонт смартфонов по всей России. Все права защищены. Политика обработки персональных данных