header.header
	.header__top
		.container
			.header__row
				a.header__logo-link(href="#")
					img.header__logo(src="assets/images/logo.png", alt="" width="135" height="64")
				button.header__map Москва
					img.header__map-icon(src="assets/images/map.svg", alt="")
				nav.header__nav
					ul.header__list
						li.header__item
							a(href="#") О компании
						li.header__item
							a(href="#") Доставка
						li.header__item
							a(href="#") Отзывы
						li.header__item
							a(href="#") Контакты
				ul.header__social-list
					li.header__social-item
						a(href="#")
							img.header__social-logo(src="assets/images/telegram.svg", alt="")
					li.header__social-item
						a(href="#")
							img.header__social-logo(src="assets/images/instagram.svg", alt="")
					li.header__social-item
						a(href="#")
							img.header__social-logo(src="assets/images/whatapp.svg", alt="")
				.header__phone-wrapper
					a(href="+79957965304") +7 995 796-53-04
					button.header__phone-button(data-vkpath="call") Заказать звонок
				button.header__menu-open(data-vkpath="nav")
					span
	.header__bottom.top-nav
		.container
			.top-nav__row
				button.top-nav__menu-open(data-vkpath="catalog")
					span
				nav.top-nav__nav
					ul.top-nav__list
						li.top-nav__item
							a(href="#") Бытовая техника
						li.top-nav__item
							a._active(href="#") Цифровая техника
						li.top-nav__item
							a(href="#") Кухонная техника
						li.top-nav__item
							a(href="#") Лодочные электромоторы
						li.top-nav__item
							a(href="#") Электроинструменты
						li.top-nav__item
							a(href="#") Установка техники
				button.top-nav__diagnostics Бесплатная диагностика

