section.screen-repair
	.container
		.screen-repair__content-wrapper

			h1.screen-repair__title Ремонт <strong> смартфонов </strong>

			.screen-repair__element
				img.screen-repair__icon(src="assets/images/time.svg", alt=""  width="39" height="39")
				p.screen-repair__text Ремонт за 15-30 минут от 490 р.
			.screen-repair__element
				img.screen-repair__icon(src="assets/images/chek-main.svg", alt="" width="38" height="37")
				p.screen-repair__text Выездной ремонт в Москве и МО <br> 314 сервисных центров
			.screen-repair__element
				img.screen-repair__icon(src="assets/images/mony.svg", alt="" width="37" height="42")
				p.screen-repair__text Оплата после ремонта
				
			button.screen-repair__button-repair Записаться на ремонт