section.malfunctions
	.container
		.malfunctions__title-wrapper.main-title
			h2.main-title__title Частые неисправности iPhone 7
			span.main-title__line-grey

		.malfunctions__row
			ul.malfunctions__list
				li.malfunctions__item
					a.malfunctions__link(href="#")
						span.malfunctions__headline Настройка интернета
						span.malfunctions__price от 290 руб.
				li.malfunctions__item
					a.malfunctions__link(href="#")
						span.malfunctions__headline Чистка от пыли
						span.malfunctions__price от 1.490 руб.
				li.malfunctions__item
					a.malfunctions__link(href="#")
						span.malfunctions__headline Установка драйверов
						span.malfunctions__price от 290 руб.
				li.malfunctions__item
					a.malfunctions__link(href="#")
						span.malfunctions__headline Ремонт/замена клавиатуры
						span.malfunctions__price от 490 руб.
				li.malfunctions__item
					a.malfunctions__link(href="#")
						span.malfunctions__headline Ремонт/замена матрицы
						span.malfunctions__price от 990 руб.
				li.malfunctions__item
					a.malfunctions__link(href="#")
						span.malfunctions__headline Диагностика проблемы
						span.malfunctions__price по запросу
				li.malfunctions__item
					a.malfunctions__link(href="#")
						span.malfunctions__headline Ремонт ветнилятора (куллера)
						span.malfunctions__price от 2.490 руб.
				li.malfunctions__item
					a.malfunctions__link(href="#")
						span.malfunctions__headline Замена аккумуляторной батареи
						span.malfunctions__price от 390 руб.
				li.malfunctions__item
					a.malfunctions__link(href="#")
						span.malfunctions__headline Ремонт/замена матрицы
						span.malfunctions__price от 990 руб.
				li.malfunctions__item
					a.malfunctions__link(href="#")
						span.malfunctions__headline Диагностика проблемы
						span.malfunctions__price по запросу
				li.malfunctions__item
					a.malfunctions__link(href="#")
						span.malfunctions__headline Ремонт ветнилятора (куллера)
						span.malfunctions__price от 2.490 руб.
				li.malfunctions__item
					a.malfunctions__link(href="#")
						span.malfunctions__headline Замена аккумуляторной батареи
						span.malfunctions__price от 390 руб.