section.models
	.container
		.models__title-wrapper
			h2.models__title ВЫБЕРИТЕ ВАШЕ УСТРОЙСТВО
				span.models__arrows
		.models__row
			.models__list
				.models__item
					a(href="#") Aser
				.models__item
					a(href="#") Asus
				.models__item
					a(href="#") Dell
				.models__item
					a(href="#") HP
				.models__item
					a(href="#") Lenovo
				.models__item
					a(href="#") Apple
				.models__item
					a(href="#") MSI
				.models__item
					a(href="#") Samsung
				.models__item
					a(href="#") Sony
				.models__item
					a(href="#") HTC
				.models__item
					a(href="#") Phillips
				.models__item
					a(href="#") Asus
				.models__item
					a(href="#") ZTE
				.models__item
					a(href="#") Lenovo
				.models__item
					a(href="#") Другая модель