section.repair-price
	.container
		.repair-price__title-wrapper.main-title
			h2.main-title__title Стоимость ремонта iPhone 7
			span.main-title__line-grey

		.repair-price__table
			.repair-price__name.repair-price__name--grey Наименование услуги
			.repair-price__price.repair-price__price--grey Стоимость
			.repair-price__time.repair-price__time--grey Время
			.repair-price__guarantee.repair-price__guarantee--grey Гарантия
			.repair-price__null.repair-price__null--grey

			.repair-price__name Срочная диагностика
			.repair-price__price 0 руб
			.repair-price__time от 15 мин
			.repair-price__guarantee -
			.repair-price__null
				button.repair-price__order Заказать

			.repair-price__name Замена стекла без дисплея
			.repair-price__price 2.000 руб.
			.repair-price__time 30 - 60 мин.
			.repair-price__guarantee 3 мес.
			.repair-price__null
				button.repair-price__order Заказать

			.repair-price__name Замена стекла с дисплеем
			.repair-price__price 2.000 руб.
			.repair-price__time 1 час
			.repair-price__guarantee 3 мес.
			.repair-price__null
				button.repair-price__order Заказать

			.repair-price__name Замена стекла с дисплеем (оригинал 100%)
			.repair-price__price 2.000 руб.
			.repair-price__time от 15 мин
			.repair-price__guarantee 30 - 60 мин.
			.repair-price__null
				button.repair-price__order Заказать

			.repair-price__name Замена заднего стекла (крышки)
			.repair-price__price 800 руб.
			.repair-price__time 10 - 30 мин.
			.repair-price__guarantee 3 мес.
			.repair-price__null
				button.repair-price__order Заказать

			.repair-price__name Замена аккумулятора
			.repair-price__price 800 руб.
			.repair-price__time 10 - 30 мин.
			.repair-price__guarantee 3 мес.
			.repair-price__null
				button.repair-price__order Заказать

			.repair-price__name Замена стекла камеры
			.repair-price__price 1.000 руб.
			.repair-price__time 10 - 30 мин.
			.repair-price__guarantee 3 мес.
			.repair-price__null
				button.repair-price__order Заказать