section.professional
	.container
		.professional__title-wrapper.main-title
			h2.main-title__title Что отличает профессиональный сервис качество на всех этапах
			span.main-title__line-grey

		.professional__wrapper
			.professional__nav
				button.professional__tab-button.professional__tab-button--active Качественный ремонт
				button.professional__tab-button Качественные запчасти
				button.professional__tab-button Качественное обслуживание
			.professional__body
				.professional__tab.professional__tab--active
					.professional__row
						.professional__img-wrapper
							img(src="/assets/images/master.jpg", alt="" width="385" height="262")
						.professional__content
							h3.professional__headline Вкладываем душу в работу
							.professional__text-wrapper
								p Наша задача сделать не просто “чтобы работало”, а чтобы работало правильно и больше не ломалось. Если есть необходимость посоветовать прафилактические работы, например, когда какая-то деталь на грани поломки, - обязательно посоветуем, объясним, покажем. Работаем в вашу пользу.
				.professional__tab
					.professional__row
						.professional__img-wrapper
							img(src="/assets/images/master.jpg", alt="")
						.professional__content
							h3.professional__headline Вкладываем душу в работу
							.professional__text-wrapper
								p Наша задача сделать не просто “чтобы работало”, а чтобы работало правильно и больше не ломалось. Если есть необходимость посоветовать прафилактические работы, например, когда какая-то деталь на грани поломки, - обязательно посоветуем, объясним, покажем. Работаем в вашу пользу.
				.professional__tab
					.professional__row
						.professional__img-wrapper
							img(src="/assets/images/master.jpg", alt="")
						.professional__content
							h3.professional__headline Вкладываем душу в работу
							.professional__text-wrapper
								p Наша задача сделать не просто “чтобы работало”, а чтобы работало правильно и больше не ломалось. Если есть необходимость посоветовать прафилактические работы, например, когда какая-то деталь на грани поломки, - обязательно посоветуем, объясним, покажем. Работаем в вашу пользу.