section.proffesional-service
	.container
		.proffesional-service__title-wrapper.main-title
			h2.main-title__title Наш профессиональный сервис
			span.main-title__line-grey

		.proffesional-service__row
			.proffesional-service__text-wrapper
				p Смартфоны и другая переносная техника постепенно вытесняет стационарные компьютеры, покоряя пользователей своей мобильностью, производительностью и удобством. Брендовые производители гарантируют их эффективную работу, но даже самая надежная техника способна выйти из строя. Неаккуратное обращение, вирусы, неполадки с ПО – какой бы ни была проблема, решить ее помогут наши опытные мастера.
				p Федеральная компания «Педант» осуществляет постгарантийное обслуживание мобильной и портативной техники ведущих брендов. Мы восстанавливаем работоспособность лэптопов, смартфонов, планшетов независимо от вида и сложности поломки. Наши офисы работают в 122 российских городах, к услугам клиентов – 314 сервисных центров, в каждом из которых профессиональные специалисты выполнят ремонт ноутбуков с гарантией.
			.proffesional-service__img-wrapper
				img(src="assets/images/repair-photo.jpg", alt="" width="403" height="250")