section.repair
	.container

		.repair__title-wrapper.main-title
			h2.main-title__title Починим любую технику
			span.main-title__line-grey

		.repair__wrapper
			.repair__product
				.repair__body
					a.repair__link(href="#")
					.repair__image-wrapper
						img(src="/assets/images/notebook.jpg", alt="")
					.repair__headline-wrapper
						img(src="/assets/images/phone.svg", alt="")
						h3.repair__headline Цифровая техника
			.repair__product
				.repair__body
					a.repair__link(href="#")
					.repair__image-wrapper
						img(src="/assets/images/washing-machine.jpg", alt="")
					.repair__headline-wrapper
						img(src="/assets/images/washing.svg", alt="")
						h3.repair__headline Бытовая техника
			.repair__product
				.repair__body
					a.repair__link(href="#")
					.repair__image-wrapper
						img(src="/assets/images/kitchen.jpg", alt="")
					.repair__headline-wrapper
						img(src="/assets/images/kitchen-icon.svg", alt="")
						h3.repair__headline Кухонная техника
			.repair__product
				.repair__body
					a.repair__link(href="#")
					.repair__image-wrapper
						img(src="/assets/images/motor.jpg", alt="")
					.repair__headline-wrapper
						img(src="/assets/images/motor-icon.svg", alt="")
						h3.repair__headline Лодочные электромоторы
			.repair__product
				.repair__body
					a.repair__link(href="#")
					.repair__image-wrapper
						img(src="/assets/images/work.jpg", alt="")
					.repair__headline-wrapper
						img(src="/assets/images/battery.svg", alt="")
						h3.repair__headline Электроинструмент
			.repair__product
				.repair__body
					a.repair__link(href="#")
					.repair__image-wrapper
						img(src="/assets/images/air.jpg", alt="")
					.repair__headline-wrapper
						img(src="/assets/images/repair.svg", alt="")
						h3.repair__headline Установка техники