section.reviews
	.container
		.reviews__title-wrapper.main-title
			h2.main-title__title Отзывы
			span.main-title__line-grey

		.reviews__row
			ul.reviews__list
				li.reviews__item
					.reviews__wrapper
						.reviews__platform
							img.reviews__google(src="assets/images/google.svg", alt="")
						.reviews__reting
							.reviews__star-wrapper
								img(src="assets/images/star.svg", alt="")
								img(src="assets/images/star.svg", alt="")
								img(src="assets/images/star.svg", alt="")
								img(src="assets/images/star.svg", alt="")
								img(src="assets/images/star.svg", alt="")
							h3.reviews__headline Татьяна В.
					.reviews__content
						p Постоянно обращаемся всей семьей в этот сервисный центр по поводу ремонта своих гаджетов-и телефонов и ноутбуков. Всегда все делают быстро и качественно, мы довольны! Постоянно обращаемся всей семьей в этот сервисный центр по поводу ремонта своих гаджетов-и телефонов и ноутбуков. Всегда все делают быстро и качественно, мы довольны!

				li.reviews__item
					.reviews__wrapper
						.reviews__platform
							img.reviews__google(src="assets/images/google.svg", alt="")
						.reviews__reting
							.reviews__star-wrapper
								img(src="assets/images/star.svg", alt="")
								img(src="assets/images/star.svg", alt="")
								img(src="assets/images/star.svg", alt="")
								img(src="assets/images/star.svg", alt="")
								img(src="assets/images/star.svg", alt="")
							h3.reviews__headline Иван П.
					.reviews__content
						p Не первый раз обращаемся, честно и объективно относятся к своей работе. Отремонтировали iPhone 7 (восстановленный), после ремонта работает замечательно. Не первый раз обращаемся, честно и объективно относятся к своей работе. Отремонтировали iPhone 7 (восстановленный), после ремонта работает замечательно.
				li.reviews__item
					.reviews__wrapper
						.reviews__platform
							img.reviews__google(src="assets/images/google.svg", alt="")
						.reviews__reting
							.reviews__star-wrapper
								img(src="assets/images/star.svg", alt="")
								img(src="assets/images/star.svg", alt="")
								img(src="assets/images/star.svg", alt="")
								img(src="assets/images/star.svg", alt="")
								img(src="assets/images/star.svg", alt="")
							h3.reviews__headline Елена Ф.
					.reviews__content
						p Отремонтировали макбук за 2 дня (пролила кофе, не включался). Обращалась до этого в другой сервис, продержали больше недели и не смогли починить. Спасибо мастеру СЦ "Ремонт Марьино"! Помимо профессионализма, отмечу вежливость и скорость работы. Отремонтировали макбук за 2 дня (пролила кофе, не включался). Обращалась до этого в другой сервис, продержали больше недели и не смогли починить. Спасибо мастеру СЦ "Ремонт Марьино"! Помимо профессионализма, отмечу вежливость и скорость работы.
			.reviews__message-wrapper
				.reviews__text-wrapper
					h3.reviews__head Оставтье свой отзыв
					p.reviews__shown Посмотреть или написать свой отзыв
				.reviews__social-wrapper
					a(href="#")
						img(src="/assets/images/telegram.svg", alt="Telegram" width="26.73" height="26.73")
					a(href="#")
						img(src="/assets/images/instagram.svg", alt="Instagram" width="26.73" height="26.73")
					a.reviews__social-link(href="#")
						img(src="/assets/images/whatapp.svg", alt="Whatsapp" width="28.35" height="25.91")
					button.reviews__btn-reviews Оставить отзыв