section.sale
	.container
		.sale__title-wrapper.main-title
			h2.main-title__title Акции и скидки
			span.main-title__line-grey

	.swiper.sale__slider
		.swiper-wrapper

			.swiper-slide.sale__slide(style="background-image: url(/assets/images/sale-phone.png)")
				.sale__text-wrapper
					h3.sale__headline Новинка

			.swiper-slide.sale__slide(style="background-image: url(/assets/images/sale.png)")
				.sale__text-wrapper
					h3.sale__headline Цены снижены
					p.sale__text Только с 23 ноября по 6 декабря

			.swiper-slide.sale__slide(style="background-image: url(/assets/images/sale-smart.png)")
				.sale__text-wrapper
					h3.sale__headline Защита дисплея в подарок
					p.sale__text При замене дисплея до 7 декабря

			.swiper-slide.sale__slide(style="background-image: url(/assets/images/sale-smart.png)")
				.sale__text-wrapper
					h3.sale__headline Защита дисплея в подарок
					p.sale__text При замене дисплея до 7 декабря
			.swiper-slide.sale__slide(style="background-image: url(/assets/images/sale-smart.png)")
				.sale__text-wrapper
					h3.sale__headline Защита дисплея в подарок
					p.sale__text При замене дисплея до 7 декабря
					
			.swiper-slide.sale__slide(style="background-image: url(/assets/images/sale-phone.png)")
				.sale__text-wrapper
					h3.sale__headline Новинка

			.swiper-slide.sale__slide(style="background-image: url(/assets/images/sale.png)")
				.sale__text-wrapper
					h3.sale__headline Цены снижены
					p.sale__text Только с 23 ноября по 6 декабря

			.swiper-slide.sale__slide(style="background-image: url(/assets/images/sale-smart.png)")
				.sale__text-wrapper
					h3.sale__headline Защита дисплея в подарок
					p.sale__text При замене дисплея до 7 декабря

			.swiper-slide.sale__slide(style="background-image: url(/assets/images/sale-smart.png)")
				.sale__text-wrapper
					h3.sale__headline Защита дисплея в подарок
					p.sale__text При замене дисплея до 7 декабря
			.swiper-slide.sale__slide(style="background-image: url(/assets/images/sale-smart.png)")
				.sale__text-wrapper
					h3.sale__headline Защита дисплея в подарок
					p.sale__text При замене дисплея до 7 декабря
	.sale__pagination-wrapper
		.sale__pagination