include _head.pug
	title Contacts

	body.contacts-page
		include _header.pug
		include _modal-menu.pug
		include _modal-menu-top.pug
		include _contacts.pug
		include _contacts-question.pug

		include _footer.pug
		include _modal.pug
		include _scripts.pug