include _head.pug
	title Delivery

	body.delivery-page
		include _header.pug
		include _delivery-question.pug
		include _contacts.pug

		include _footer.pug
		include _modal.pug
		include _scripts.pug