include _head.pug
	title Price

	body.price-page
		include _header.pug
		include _main-screen-repair.pug
		include _price.pug
		include _proffesional-service.pug
		include _malfunctions.pug
		include _question.pug
		include _contacts.pug

		include _footer.pug
		include _modal.pug
		include _scripts.pug