include _head.pug
	title Repair

	body.repair-page
		include _header.pug
		include _main-screen-repair.pug
		include _models.pug
		include _proffesional-service.pug
		include _question.pug
		include _contacts.pug
		include _feed.pug

		include _footer.pug
		include _modal.pug
		include _scripts.pug