.call-modal {

	// .call-modal__content
	&__content {
	}

	// .call-modal__form
	&__form {
		max-width: 500px;
		margin: 0 auto;

		input[type="text"] {
			width: 100%;
			min-height: 35px;
			padding: 5px 15px;
			border: 1px solid #333;
			border-radius: 5px;
		}
	}

	// .call-modal__label
	&__label {
		display: block;
		margin: 15px 0;

	}

	// .call-modal__label-text
	&__label-text {
		display: block;
		margin-bottom: 3px;
		font-size: 18px;
		text-align-last: left;
	}

	// .call-modal__required
	&__required {
		margin-left: 3px;
		color: #f00;
	}

	// .call-modal__submit-wrapper
	&__submit-wrapper {
		display: block;
	}

	// .call-modal__submit
	&__submit {
		min-height: 30px;
		margin: 20px auto 0 auto;
		padding: 10px 25px;
		font-size: 20px;
		font-weight: 700;
		line-height: 1.2;
		color: #d6da14;
		background-color: #333;
		border: none;
		border-radius: 5px;
	}

}